@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400..800&display=swap");

:root {
    --main-background-color: black;
}

html,
body {
    height: 100%;
    background-color: var(--main-background-color);
    font-size: 40px;
}

.main-block {
    width: 1440px;
    background: red;
}