@forward './scss/theme';

@use './scss/mixins';

$breakpoint-desctop: 1350px;
$breakpoint-laptop: 900px;

html,
body {
    height: 100%;
    margin: 0;
}

body {
    --colums: 12;
    --offset: 156px;
    --hero-title-size: 1/8;
    --motivation-columns: 2;
    --motivation-left: left;
    --motivation-right: right;
    --_is-item-hidden: var(--is-item-hidden, flex);
    --_not-item-hidden: var(--is-item-hidden, none);

    display: grid;
    grid-template-columns: var(--offset) repeat(var(--colums), 1fr) var(--offset);
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    column-gap: 24px;

    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);

    &>* {
        --_grid-column: var(--grid-column, 2/-2);

        display: grid;
        grid-column: var(--_grid-column);
        grid-template-columns: subgrid;
    }

    @media(max-width: $breakpoint-desctop) {
        --offset: 32px;
        --hero-title-size: 1/10;
    }

    @media(max-width: $breakpoint-laptop) {
        --offset: 12px;
        --hero-title-size: 1/-1;
        --motivation-columns: 1;
        --motivation-left: center;
        --motivation-right: center;
        --is-item-hidden: none;
        --_not-item-hidden: flex;
    }
}

.hero-sec {
    --grid-column: 1/-1;
    height: 100dvh;
    background: url('images/top_image.png');
    background-size: cover;
    background-position: right;

    &__wrapper {
        display: grid;
        grid-column: 2/-2;
        grid-template-columns: subgrid;
    }

    &__header {
        grid-column: 1/-1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;

        &__logo {
            padding-top: 26px;
            height: 48px;
        }

        &__menu {
            padding-top: 36px;

            @include mixins.display-small;
            color: var(--md-sys-color-on-primary);

            display: flex;
            flex-direction: row;
            gap: 32px;

            &--hidden {
                display: var(--_is-item-hidden);
            }

            &--not-hidden {
                display: var(--_not-item-hidden);
                font-family: "Material Symbols Outlined";
                font-variation-settings:
                    'FILL' var(--selected),
                    'wght' var(--selected-wght),
                    'GRAD' 0,
                    'opsz' 24;
                font-size: 36px;
            }
        }
    }

    &__title {
        grid-column: var(--hero-title-size);
        display: flex;
        flex-direction: column;

        color: var(--md-sys-color-on-primary);

        &__main {
            @include mixins.display-large;
        }

        &__dop {
            @include mixins.display-medium;
        }
    }

    &__join-button {
        grid-column: var(--hero-title-size);
        height: 64px;
        padding-block: 24px 24px;
        border-radius: 16px;
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
        background-color: var(--md-sys-color-primary);

        @include mixins.display-large;
        color: var(--md-sys-color-on-primary);
        text-align: center;
        justify-content: center;
    }

}

.bottom-logo {
    grid-column: 1/-1;
    padding-block: 93px;
    margin-left: auto;
    margin-right: auto;

    img {
        width: clamp(400px, 100%, 1400px);
    }
}

.single-line {
    height: 200px;
    grid-column: 2/-2;
    color: var(--md-sys-color-on-primary);
    @include mixins.display-large;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    &--box {
        padding-block: 100px;
    }

    &--light {
        grid-column: 6/-2;
        @include mixins.body-large;
        color: var(--md-sys-color-on-surface-variant);
        text-align: justify;
    }

    &--copyright {
        grid-column: 8/-2;
        @include mixins.body-large;
        color: var(--md-sys-color-inverse-on-surface);
        text-align: left;
    }

    &--h3 {
        @include mixins.display-small;
        color: var(--md-sys-color-on-primary-container);
    }

    &--h2 {
        @include mixins.display-medium;
        color: var(--md-sys-color-on-primary-container);
    }

    &--h1 {
        @include mixins.display-large;
        color: var(--md-sys-color-on-primary-container);
    }
}


.sec {
    &--full-width {
        --grid-column: 1/-1;
        background: var(--md-sys-color-inverse-surface);

        &--light {
            background: var(--md-sys-color-surface-variant);
        }

        &--blue {
            --grid-column: 1/-1;
            background: var(--md-sys-color-secondary-container);
        }
    }
}

.motivation {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(var(--motivation-columns), 1fr);
    margin-block: 100px;
    column-gap: 16px;
    row-gap: 50px;

    &--blue {
        grid-column: 2/-2;
    }

    &__image {
        &--left {
            justify-content: var(--motivation-left);

            img {
                border-radius: 16px;
            }
        }

        &--right {
            justify-content: var(--motivation-right);

            img {
                float: var(--motivation-right);
                border-radius: 16px;
            }
        }
    }

    &__content {
        &__header {
            color: var(--md-sys-color-primary);
            @include mixins.display-small;
        }

        &__text {
            color: var(--md-sys-color-on-background);
            @include mixins.body-large;
        }
    }

}