@forward './scss/theme';

@use './scss/mixins';

html,
body {
    height: 100%;
    margin: 0;
}

body {
    --colums: 12;
    --offset: 156px;

    display: grid;
    grid-template-columns: repeat(var(--colums), 1fr);
    grid-auto-rows: min-content;
    gap: 12px;
    padding-inline: var(--offset);

    &>* {
        display: grid;
        grid-column: 1/-1;
        grid-template-columns: subgrid;
    }

}

.sec {

    // display: flex;
    // flex-direction: column;
    // width: 100%;
    // height: 100%;
    &--background {

        // width: 1440px;
        // height: 847px;
        background-image: url("./images/top_image.png");


        // img {
        //     width: 1440px;
        //     height: 847px;
        //     position: relative;
        //     border: 0;
        //     height: 100%;
        // }
    }

    &__header {
        &__logo {
            // left: 156px;
            // z-index: 3;

            img {
                width: 168px;
                height: 48px;
            }
        }

        &__menu {
            @include mixins.display-small;
            color: var(--material-theme-sys-light-on-primary);
            // display: flex;
            // flex-direction: row;
            // span {}
        }
    }

    &__title {

        &__main {
            @include mixins.display-large;
        }

        &__dop {
            @include mixins.display-medium;
        }

    }

    &__join-button {
        border-radius: 16px;

        &__text {
            @include mixins.display-large;

            // color: var(--material-theme-sys-light-on-primary);
            text-align: center;
            padding-inline: 64px;
            padding-block: 24px 24px;
        }
    }
}

p {
    display: block;
}