@forward './scss/theme';

@use './scss/mixins';

html,
body {
    height: 100%;
    margin: 0;
}

body {
    --colums: 12;
    --offset: 156px;

    display: grid;
    grid-template-columns: var(--offset) repeat(var(--colums), 1fr) var(--offset);
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    column-gap: 24px;

    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);

    &>* {
        --_grid-column: var(--grid-column, 2/-2);

        display: grid;
        grid-column: var(--_grid-column);
        grid-template-columns: subgrid;
    }
}

.hero-sec {
    --grid-column: 1/-1;
    height: 100dvh;
    background: url('images/top_image.png');
    background-size: cover;
    background-position: right;

    &__wrapper {
        display: grid;
        grid-column: 2/-2;
        grid-template-columns: subgrid;
    }

    &__header {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        grid-column: 1/-1;
        display: flex;
        flex-direction: row;
        column-gap: 400px;

        &__logo {
            padding-top: 26px;
            height: 48px;
        }

        &__menu {
            padding-top: 36px;

            @include mixins.display-small;
            color: var(--md-sys-color-on-primary);

            display: flex;
            flex-direction: row;
            gap: 32px;
        }
    }

    &__title {
        grid-column: 1/8;
        display: flex;
        flex-direction: column;

        color: var(--md-sys-color-on-primary);

        &__main {
            @include mixins.display-large;
        }

        &__dop {
            @include mixins.display-medium;
        }
    }

    &__join-button {
        grid-column: 1/8;
        height: 64px;
        padding-block: 24px 24px;
        border-radius: 16px;
        box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);

        background-color: var(--md-sys-color-primary);

        @include mixins.display-large;
        color: var(--md-sys-color-on-primary);
        text-align: center;
        justify-content: center;

    }

}

.sec {
    &--full-width {
        --grid-column: 1/-1;

        background-color: darkgray;
        height: 200px;
    }
}

// p {
//     display: block;
// }